<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">
    <li class="nav-item dropdown">
      <a class="logo-font font-weight-bold nav-link text-black mr-5 dropdown-toggle"
         href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
        All Products
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
        <a class="dropdown-item" href="">By Price (Low → High)</a>
        <a class="dropdown-item" href="">By Price (High → Low)</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="">All Products</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="logo-font font-weight-bold nav-link text-black mr-5 dropdown-toggle"
         href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
        Shop by Category
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
        <a class="dropdown-item" href="">Menswear</a>
        <a class="dropdown-item" href="">Womenswear</a>
        <a class="dropdown-item" href="">Shoes</a>
        <a class="dropdown-item" href="">Bags</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="">All</a>
      </div>
    </li>
  </ul>
</div>